<div class="card" style="margin-bottom:5px;">
  <div class="card-header">
    {{author.username}}
    <span class='float-right text-muted'>{{moment(message.c_at).format("MMM Do YYYY h:mm:ss a")}}</span>
  </div>
  <div class="card-body">
    <p class='card-text'>{{message.body}}</p>
    <button
    (click)="likeService.onLike('message',message.id)"
    [disabled]="!likeService.canLike('message',message.id)"
    class='btn btn-small p-1'>
      <i
      *ngIf="likeService.canLike('message',message.id)"
      [ngStyle]="{'color': !likeService.canLike('message',message.id) ? 'grey' : 'teal'}"
      class='far fa-thumbs-up'></i> {{ likeService.getLikesById('message',message.id).length }}
    </button>
    <hr *ngIf="comments.length > 0">
    <comment-list *ngIf="comments.length > 0" [comments]="comments"></comment-list>
    <div class="row">
      <div class="col-md-6">
      </div>
      <div class="col-md-6 text-right">
        <button
        *ngIf="!showAddComment"
        class='btn btn-primary btn-sm'
        (click)="showAddComment = true">Add Comment</button>

      </div>
    </div>

    <add-comment *ngIf="showAddComment" [messageId]="message.id"></add-comment>
  </div>
</div>
