<div class="container card mx-auto w-50">
  <form>
    <div class="form-group">
      <label for="username">Username</label>
      <input
      [ngClass]="errors ? 'border border-danger' : 'border'"
      type="text"
      name="username"
      [(ngModel)]="service.username"
      class="form-control">
      <p *ngIf="errors" class='text-danger'>{{error}}</p>
    </div>
    <div class="form-group">
      <button class='form-control btn btn-primary' (click)="onClick()">Create User <i class='fas fa-user-plus'></i></button>
    </div>
  </form>
</div>
